[Unit]
Description=SPIDER WebSocket Proxy (Python)
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/python3 /opt/spider/ws.py
Restart=always
RestartSec=2
NoNewPrivileges=true
LimitNPROC=10000
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
